@charset "utf-8";
@import url("part3.css");
@import url("part4.css");
@import url("part5.css");

@font-face {
	font-family: Gen Jyuu Gothic ;
    src: url(font/GenJyuuGothic-Normal.ttf);
}


html{
	font-family: Gen Jyuu Gothic ;
	overflow-x: hidden;

}
body{
	font-family: Gen Jyuu Gothic ;
	margin: 0;
    padding: 0;
    border: 0;
    display: block;
    width: 100%;
    height: 500%;

}

h3,p{
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: normal;
}

.allpg{
	font-family: Gen Jyuu Gothic ;
	position: relative;
	font-weight: 800;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	padding-bottom: 280%;
	border: solid 10px red;
	overflow: hidden;
}

.iceberg{
	position: absolute;
	z-index: 2;
	margin-left: -6%;
	margin-top: 15%;	
	width: 57.76%;
	height: 335.56%;
	background-color: transparent;
	/*animation-name: i1,i2;
	animation-duration: 0.8s,2s;
	animation-iteration-count:  1,infinite;
	animation-delay: 0s,0s;*/
	
	
}
@keyframes i1{
	0%{margin-left:-32%;opacity:1;}
	100%{margin-left: -6%;opacity:1;}
}
@keyframes i2{
	0%{margin-top: 15%}
	50%{margin-top: 15.93%;}
	100%{margin-top: 15%}
}
.penguin{
	position: absolute;
	z-index: 3;
	margin-top: -312%;
	left: 45%;
	width: 7.21%;
	height: 2.76%;
	animation-name: p1;
	animation-duration: 16s;
	animation-iteration-count:  infinite;
	animation-delay: 1s;
	
}
@keyframes p1{
	0%{margin-top: -312%;left: 45%;}
	49.99%{margin-top:-313%; left: 55%; transform: scaleX(1);}
	50%{margin-top:-313%; left: 55%;  transform: scaleX(-1);}
	100%{margin-top:-312%; left: 45%; transform: scaleX(-1);}
	
}
.watermark1{
	position: absolute;
	z-index: 2;
	width: 46.2%;
	left: -2.29%;
	margin-top: 40.5%;	
	animation-name:h1,wm1;
	animation-duration: 0.8s,2s;
	animation-iteration-count: 1,infinite;
	
}
@keyframes wm1{
	0%{opacity:0%;}
	50%{opacity:80%;}
	100%{opacity:0%;}
}
@keyframes h1{
	0%{opacity:0%;}
	100%{opacity:0%;}
}
.cliff{
	position: absolute;
	margin-top: 18%;
	left: 76.65%;
	z-index: 2;
	width: 23.49%;
	animation-name:c1;
	animation-duration: 0.8s ;
	animation-iteration-count:  1;
	animation-delay: 0s;
}
@keyframes c1{
	0%{left: 100%;}
	100%{left:76.65;}
}

.watermask1{
	
	position: absolute;
	z-index: 2;
	width: 52.14%;
	left: -0.1%;
	margin-top: 52%;
}
.watermask2{
	max-width: 1920px;
	position: absolute;
	z-index: 0;
	left: 1567px;
	top: 1088px;
}
.fish2{
	position: absolute;
	z-index: 9;
	left: 0px;
	top: 3180px;
	animation-name:f2;
	animation-duration:24s;
	animation-iteration-count: infinite;
	overflow: hidden;
	opacity: 0.6;
}
@keyframes f2{
	0%{left:-180px;}
	49.99%{left: 1750px; top: 3150px; transform: scaleX(1);opacity: 0.6;}
	50%{opacity: 0;transform: scaleX(-1)}
	50.01%{left: 1750px; top: 3150px; transform: scaleX(-1);opacity: 0.6;}
	100%{left: -180px; top: 3050px; transform: scaleX(-1)}
}

/*.LoadingAnimate{
	position: absolute;
	z-index: 20;
	top: 0%;
	left: 0%;
	width: 100%;
	padding-bottom: 56%;
	background-color: #fff;
	
}*/

.view1{
	position: absolute;
	z-index: 5;
	top: 0%;
	left: 0%;
	width: 100%;
	padding-bottom: 56%;
	background-color: transparent;
	border: solid 2px #000;
}
.bar{
	position: absolute;
	margin-left: 0%;
	z-index: 2;
	font-size: 1.75rem;
	left: 27.86%;
	margin-top: 2%;
	font-weight: normal;
	
}


.act:hover{
	border-bottom: solid 5px transparent;
	border-image: linear-gradient(90deg, rgba(255, 255, 255, 1)10%, rgba(255, 255, 255, 0)95%);
	border-image-slice: 1;
	
}
.bg1{
	position: absolute;
	width: 100%;
	top: 0%;
	left: -5px;
	z-index: -1;
	
}

.wave{
	position: absolute;
	margin-top: 39%;
	margin-left: -2.52%;
	opacity: 80%;
	z-index: 1;
	/*animation-name:w1;
	animation-duration: 4s;
	animation-iteration-count: infinite;*/
}
.wave1{
	position: absolute;
	z-index: 10;
	margin-left: -0.73%;
	margin-top: 40.48%;
	width: 100%;
	height: 25.93%;
	background-color: #fff;
	opacity: 0.5;
	overflow: hidden;
}
.wave2{
	position: absolute;
	z-index: -2;
	left: -14px;
	top: 770px;
	width: 1920px;
	height: 300px;
	background-color: #53a3b2;
	opacity: 0.6;
	overflow: hidden;
}
.wave1:before,.wave1:after{
	content: "";
    position: absolute;
    left: 50%;
    top: 25%;
    width: 1800%;
    height: 2250%;
    border-radius: 100%;
	background: #59a3b2;  
    transform: translateX(-50%);
	animation: rotate 4s linear infinite;

}
.wave1:before{
	top: 20%;
    opacity: 0.5;
    border-radius: 47%;
}
@keyframes rotate {
  	0% {
    	transform: translateX(-50%) rotateZ(180deg);
	}
	
  	100% {
  		transform: translateX(-50%) rotateZ(360deg);
  	}
}

@keyframes w1{
	0%{left: -50px;top: 757px;}
	25%{left: -40px;top: 757px;}
	50%{left: -50px;top: 757px;}
	75%{left: -60px;top: 757px;}
	100%{left:-50px;top: 757px;}
}
.littleIce{
	position: absolute;
	z-index: 1;
	margin-top: 51.36%;
	left: 64.46%;
	width: 14.63%;
	animation-name:li1;
	animation-duration: 2s;
	animation-delay: 0.5s;
	animation-iteration-count: infinite;
}
@keyframes li1{
	0%{margin-top:51.36%;}
	50%{margin-top:51.48%;}
	100%{margin-top:51.36%;}
}
.watermark2{
	position: absolute;
	z-index: 3;
	width: 16.46%;
	margin-top: 51%;
	margin-left: 63%;
	animation-name:wm2;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
@keyframes wm2{
	0%{opacity: 0;}
	50%{opacity: 100%;}
	100%{opacity: 0;}
}
.title{
	position: absolute;
	z-index:  1;
	width: 52.66%;
	margin-left: 26.56%;
	margin-top: 12.8%;
	filter:drop-shadow(0px 0px 10px rgba(0,0,0,.5));    
}

@media (min-width: 1000px) and (max-width: 1600px){
	
	.bar{
		font-size: calc(1rem + (1.5-1) * ((100vw - 1000px) / (1600 - 1000)));
	}
	
	
}

@media (min-width: 700px) and (max-width: 1000px){
	
	.bar{
		font-size: calc(0.75rem + (1-0.75) * ((100vw - 700px) / (1000 - 700)));
	}
	
	
}

@media (min-width: 300px) and (max-width: 700px){
	
	.bar{
		font-size: 0.75rem;
	}
	
	
}