@charset "utf-8";

.view4{
	position: absolute;
	z-index: 5;
	margin-top: 168%;
	left: 0%;
	width: 100vw;
	padding-bottom: 56%;
	background-color: transparent;
	opacity: 1;
	overflow: hidden;

	
}
.bg4{
	position: absolute;
	z-index: -1;
	left: 0%;
	width: 100%;
	opacity: 1;
	margin-top: 168%;
	padding-bottom: 56%;
}
.grassleft{
	position: absolute;
	z-index: 2;
	margin-left: 9.38%;
	margin-top: 48%;
	width: 5%;
	background-color: transparent;
	
}
.grasscenterleft{
	position: absolute;
	z-index: 2;
	margin-left: 28%;
	margin-top: 44%;
	width: 10%;
	background-color: transparent;
	
}
.grasscenter{
	position: absolute;
	z-index: 2;
	margin-left: 55%;
	margin-top: 48%;
	width: 6%;
	background-color: transparent;
}
.grasscenterrigt{
	position: absolute;
	z-index: 2;
	margin-left: 70%;
	margin-top: 45%;
	width: 6%;
	background-color: transparent;
}
.grassright{
	position: absolute;
	z-index: 2;
	margin-left: 91%;
	margin-top: 47%;
	width: 6%;
	background-color: transparent;
}
.subtitle4{
	position: absolute;
	z-index: 5;
	width: 100%;
	font-size: 70px;
	margin-left: 0%;
	margin-top: 6%;
	color: #c98c24;
	font-weight: bold;
	text-align: center;
}
.gas{
	position: absolute;
	border: 0px;
	font-family: Gen Jyuu Gothic;
	font-weight: bold;
	z-index: 5;
	font-size: 100px;
	background-color: transparent;
	outline: none;
	margin-left: 2%;
	margin-top: 19%;
	width: 25%;
	height: 46.3%;
	color: #acd3d2;
	
}


.textcardgas {
  	position: absolute;
	z-index: 6;
	margin-top: 0%;
	margin-left: 3%;
	width: 77%;
	padding-bottom: 92%;
	opacity: 1;
  	perspective: 1000px;



}
.textcardgas:hover{
	-webkit-filter:brightness(1.2);


}

.gascard {
	width: 100%;
  	transition: transform 2s;
  	transform-style: preserve-3d;
  	cursor: pointer;
}

.gasfront, .gasback {
	position: absolute;
	display: flex;
	font-size: 20px;
	color: #0B3140;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	backface-visibility: hidden;
  	background-color: rgba(172,211,210,0.95);
	overflow: hidden;
	


}


.gasfront {
	padding-bottom: 7.5%;
}

.gasfimg{
	width: 100%;
	margin-top: 10%;
}

.gasback {
	
  	transform: rotateY(180deg);
	line-height: 1.5;
	padding-bottom: 20.5%;
	
	
}
.gascontent{
	font-size: 16px;
	line-height: 0;
}


.textcardgas.open {
	-webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    transition: 2s,opacity 0.1s;
    margin-top: -150px ;
	opacity: 1;
}
.textcardgas.close {
	-webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    transition: 2s,opacity 2s;
    margin-top: 0px ;
	opacity: 0;
}

.sun{
	position: absolute;
	border: 0px;
	font-family: Gen Jyuu Gothic;
	font-weight: bold;
	z-index: 5;
	font-size: 100px;
	background-color: transparent;
	outline: none;
	margin-left: 27%;
	margin-top: 19%;
	width: 25%;
	height: 46.3%;
	color: #acd3d2;
}
.textcardsun {
  	position: absolute;
	z-index: 6;
	margin-top: 0%;
	margin-left: 3%;
	width: 77%;
	padding-bottom: 92%;
	opacity: 1;
  	perspective: 1000px;
}
.textcardsun:hover{
	-webkit-filter:brightness(1.2);
}


.suncard {
	width: 100%;
  	transition: transform 2s;
  	transform-style: preserve-3d;
  	cursor: pointer;
}

.sunfront, .sunback {
	position: absolute;
	display: flex;
	font-size: 22px;
	color: #0B3140;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	backface-visibility: hidden;
  	background-color: rgba(172,211,210,0.95);
	overflow: hidden;

}

.sunfront {
	padding-bottom: 20%;
}

.sunfimg{
	width: 100%;
	margin-top: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sunback {
	padding-bottom: 28.5%;
  	transform: rotateY(180deg);
}

.suncontent{
	font-size: 15px;
}

.textcardsun.open {
	-webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    transition: 2s,opacity 0.1s;
    margin-top: -150px !important;
	opacity: 1;
}
.textcardsun.close {
	-webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    transition: 2s,opacity 2s;
    margin-top: 0px ;
	opacity: 1;
}
.oil{
	position: absolute;
	border: 0px;
	font-family: Gen Jyuu Gothic;
	font-weight: bold;
	z-index: 5;
	font-size: 100px;
	background-color: transparent;
	outline: none;
	margin-left: 52%;
	margin-top: 19%;
	width: 25%;
	height: 46.3%;
	color: #acd3d2;
}
.textcardoil {
  	position: absolute;
	z-index: 6;
	margin-top: 0%;
	margin-left: 3%;
	width: 77%;
	padding-bottom: 92%;
	opacity: 1;
  	perspective: 1000px;
}
.textcardoil:hover{
	-webkit-filter:brightness(1.2);
}
.oilcard {
	width: 100%;
  	transition: transform 2s;
  	transform-style: preserve-3d;
  	cursor: pointer;
}

.oilfront, .oilback {
	position: absolute;
	display: flex;
	font-size: 16px;
	color: #0B3140;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	backface-visibility: hidden;
  	background-color: rgba(172,211,210,0.95);
	overflow: hidden;

}

.oilfront {
	padding-bottom: 20%;
}

.oilfimg{
	width: 100%;
	margin-top: 20%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.oilback {
	padding-bottom: 49.5%;
  	transform: rotateY(180deg);
}

.oilcontent{
	font-size: 13px;
	line-height: 0;
}
.textcardoil.open {
	-webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    transition: 2s,opacity 0.1s;
    margin-top: -150px !important;
	opacity: 1;
}
.textcardoil.close {
	-webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    transition: 2s,opacity 2s;
    margin-top: 0px ;
	opacity: 0;
}
.life{
	position: absolute;
	border: 0px;
	font-family: Gen Jyuu Gothic;
	font-weight: bold;
	z-index: 5;
	font-size: 100px;
	background-color: transparent;
	outline: none;
	margin-left: 77%;
	margin-top: 19%;
	width: 25%;
	height: 46.3%;
	color: #acd3d2;
}
.textcardlife {
  	position: absolute;
	z-index: 6;
	margin-top: 0%;
	margin-left: 3%;
	width: 77%;
	padding-bottom: 92%;
	opacity: 1;
  	perspective: 1000px;
}
.textcardlife:hover{
	-webkit-filter:brightness(1.2);
}
.lifecard {
  	transition: transform 2s;
  	transform-style: preserve-3d;
  	cursor: pointer;
}

.lifefront, .lifeback {
	position: absolute;
	display: flex;
	font-size: 16px;
	color: #0B3140;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	backface-visibility: hidden;
  	background-color: rgba(172,211,210,0.95);
	overflow: hidden;

}

.lifefront {
	padding-bottom: 19%;
	

}
.lifefimg{
	width: 85%;
	margin-top: 15%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.lifeback {
	padding-bottom: 17%;
	transform: rotateY(180deg);
	align-items: center;

}

.lifecontent{
	font-size: 18px;
	line-height: 0;
}

.textcardlife.open {
	-webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    transition: 2s,opacity 0.1s;
    margin-top: -150px !important;
	opacity: 1;
}
.textcardlife.close {
	-webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    transition: 2s,opacity 2s;
    margin-top: 0px ;
	opacity: 1;
}

.bottom{
	position: absolute;
	z-index: 4;
	width: 100%;
	margin-top: 43%;
	margin-left: 0%;
}
.bubble{
	position: absolute;
	z-index: 4;
	margin-left: 80%;
	margin-top: 38%;
	width: 3.4%;
	background-color: transparent;
}
@keyframes b1{
	0%{opacity: 1;}
	49.99%{opacity: 1;}
	50%{opacity: 0;}
	100%{opacity: 0;}
}
