@charset "utf-8";

.view5{
	width: 1920px;
	height: 100%;
}
.bg5{
	position: absolute;
	z-index: -2;
	top: 4320px;
	left: 0px;
	width: 1920px;
	height: 100%;
    background: transparent linear-gradient(180deg, #393A3B 0%, #121212 100%) 0% 0% no-repeat padding-box;
	opacity: 1;
}
.references{
	position: absolute;
	z-index: 1;
	font-size: 60px;
	top: 4473px;
	left: 822px;
	width: 240px;
	height: 89px;
	text-align: left;
	letter-spacing: 0px;
	color: #FFFFFF;
	text-shadow: 2px 3px 6px #FFFFFF22;
	opacity: 1;
}
.rectangle{
	position: absolute;
	background-color: transparent;
	z-index: 1;
	top: 4578px;
	left: 162px;
	width: 1593px;
	height: 667px;
	border: 1px solid #D1D9E4;
	opacity: 1;
}
.CO2pro{
	position: absolute;
	top: 45px;
	font-size: 35px;
	left: 208px;
	width: 245px;
	height: 52px;
	text-align: center;
	letter-spacing: 0px;
	color: #ACD3D2;
	opacity: 1;
}
.inforfrom{
	position: absolute;
	z-index: 5;
	font-size: 20px;
	top: 90px;
	left: 10px;
	text-align: left;
}
.CO2cause{
	position: absolute;
	top: 206px;
	font-size: 35px;
	left: 208px;
	width: 245px;
	height: 52px;
	text-align: center;
	letter-spacing: 0px;
	color: #ACD3D2;
	opacity: 1;
	
}
.CO2role{
	position: absolute;
	z-index: 200;
	top: 45px;
	font-size: 35px;
	left: 1003px;
	width: 455px;
	height: 52px;
	text-align: center;
	letter-spacing: 0px;
	color: #ACD3D2;
	opacity: 1;
	
}
